<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h6>About</h6>
                <p class="text-justify">TOTO is an essential platform for students preparing for Olympiads and STEM competitions, 
                    offering curated textbook recommendations based on user reviews. Discover top-rated textbooks 
                    and find direct links to purchase them, ensuring you have the best resources for your academic success. To add reviews and textbooks,
                    sign in or create an account if you don't have one. Make sure to send any questions or comments through the contact us page! For more resources and information, specifically about the 
                    National Science Bowl competition, please visit <a href="https://scibowl.org/">SBCentral</a>.</p>
            </div>
            <div class="col-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a href="/signin">Contribute</a></li>
                </ul>
            </div>
        </div>
        <hr class="small">
    </div>
    <div class="container">
        <div class="row">
            <div class="copyright">
                <p class="copyright-text">Copyright © 2024, All Rights Reserved by
                    <a href="https://shah-rushil.github.io">Rushil Shah.</a>
                </p>
            </div>
            <div class="icons">
                <ul class="social-icons">
                    <li><a class="github" href="https://github.com/shah-rushil/Textbook-Compiler" target="_blank"><img src="/assets/github_logo.png"></a></li>
                    <li><a class="linkedin" href="https://www.linkedin.com/in/rushil-shah-5a8056262" target="_blank"><img src="/assets/linkedin_logo.png"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>