<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/contact.css" />
  <title>Contact</title>
</head>

<body>

    <%- include("partials/header.ejs")%>
    <main class="main-content">
        <div class="login-page">
            <div class="form">
              <form class="login-form" method="POST" action="https://docs.google.com/forms/d/1wqCkxScqQhQxYKVUXiB__QR7j6ai5CU93Oogi9IsqLA/formResponse" target="/">
                <input type="text" placeholder="email address" name="entry.1428114978" class="form-input"/>
                <textarea placeholder="message" name="entry.701442819" class="form-input"></textarea>
                <input type="submit" value="Submit" class="form-submit">
              </form>
            </div>
        </div>
    </main>

</body>

</html>