<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/signin.css" />
  <title>Sign  In</title>
</head>

<body>

    <%- include("partials/header.ejs")%>

    <main class="main-content">
        <div class="login-page">
            <div class="form">
              <form class="login-form" method="POST" action="/createaccount">
                <input type="email" placeholder="email address" name="email" class="form-input" required/>
                <input type="text" placeholder="username" name="username" class="form-input" required/>
                <input type="password" placeholder="password" name="password" class="form-input" required/>
                <input type="submit" value="create" class="form-submit">
                <% if(locals.message) {%>
                  <p class="message" style="color: red; margin-top: 20px;"> <%=message%></p>
                <% } %>
                <p class="message">Already registered? <a href="signin">Sign In</a></p>
              </form>
            </div>
          </div>
    </main>
</body>

</html>