<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/contact.css" />
  <link rel="stylesheet" href="/styles/textbook.css" />
  <title>Edit Rating</title>
</head>

<body>

    <%- include("partials/header.ejs")%>
    <main class="main-content">
        <div class="login-page">
            <div class="form">
              <form class="login-form" method="POST" action="/editreview">
                <textarea placeholder="new review" name="message" class="form-input" style="margin-bottom: 5px;"></textarea>
                <span class="star-rating" style="margin-bottom: 12px;">
                  <input type="radio" name="stars" value="1"><i></i>
                  <input type="radio" name="stars" value="2"><i></i>
                  <input type="radio" name="stars" value="3"><i></i>
                  <input type="radio" name="stars" value="4"><i></i>
                  <input type="radio" name="stars" value="5"><i></i>
                </span>
                <input type="hidden" name="textbookid" value="<%=textbookid%>">
                <input type="submit" value="Submit" class="form-submit">
              </form>
            </div>
        </div>
    </main>

</body>

</html>