<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/signin.css" />
  <title>Forgot Password</title>
</head>

<body>

    <%- include("partials/header.ejs")%>

    <main class="main-content">
        <div class="login-page">
            <div class="form">
              <form class="login-form" method="POST" action="/validateuser">
                <input type="text" placeholder="enter email" name="email" class="form-input"/>
                <input type="submit" value="Email Reset Link" class="form-submit">
                <% if(locals.submitted) {%>
                  <% if(submitted == "yes") { %>
                    <p class="message">Email Sent Successfully!</p>
                  <% } else {%>
                  <p class="message">Email Not Found, Try Again</p>
                  <% } %>
                <% } %>
                <p class="message"><a href="signin">Back to sign in</a></p>
              </form>
            </div>
          </div>
    </main>
</body>

</html>