<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/signin.css" />
  <title>Reset Password</title>
</head>

<body>

    <%- include("partials/header.ejs")%>

    <main class="main-content">
        <div class="login-page">
            <div class="form">
                <form action="/reset-password" method="post">
                    <input type="hidden" name="email" value="<%=userEmail%>" />
                    <input type="password" placeholder="new password" id="password" name="password" class="form-input" required />
                    <input type="submit" value="Reset Password" class="form-submit">
                </form>
            </div>
          </div>
    </main>
</body>

</html>